* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

.nav-menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffe6b8;
  width: 100%;
  height: 95px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
  padding-top: 100px;
}

html {
  scroll-padding-top: 95px;
  font-size: 100%;
}

.logo img {
  max-height: 80px;
  margin: 20px 0px 20px 120px;
}

.botoes-menu {
  display: flex;
  margin-right: 10px;
  color: #fff;
  
}

.botoes-nav-menu a {
  margin-left: 10px;
  margin-right: 20px;
}

.botoes-nav-menu button {
  background-color: transparent;
  padding: 10px 15px;
  color: #ffffff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 20px;
  border: 1px solid #e3ded5;
  background: #fea901;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 700;
}

.botoes-nav-menu button:hover {
  background-color: #ffffff;
  color: #1a1a1a;
}

.carousel-img {
  width: 70%;
  align-items: center;
  margin: 0 auto;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgb(224, 224, 224);
  /* Cor desejada */
  border-radius: 40%;
}

/*----------QUEM SOMOS----------------*/

.quem-somos {
  background-color: #D9D9D9;
  padding: 40px;
  text-align: center;
}

.titulo-quemsomos {
  padding-bottom: 15px;
  color: #3F3D56;
  font-family: "Roboto Slab", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 2px 2px 4px rgba(63, 61, 86, 0.4);
}

.quem-somos .row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.quem-somos p {
  text-align: justify;
  margin-top: 10px;
  font-size: 18px;
  margin-bottom: 5px;
  margin-left: 80px;
  padding: 10px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quem-somos img {

  border-radius: 15px;
  margin-left: 130px;
  width: 100%;
  /* Deixa a imagem ocupar toda a largura disponível */
  height: auto;
  /* Mantém a proporção da imagem */
  max-width: 400px;
  /* Limita a largura máxima da imagem para evitar que fique muito grande */
  margin-bottom: 20px;
  /* Adiciona um pequeno espaçamento superior entre o texto e a imagem */
  box-shadow: 0 2px 4px rgba(0,0,0, 0.2);}

/*-----FINAL QUEM SOMOS--------------------------*/

/*--------------- NOSSOS SERVIÇOS------------------ */

.forma1 {
  width: 100%;
  height: 150px;
  margin-top: -30px;
  background-color: #ffffff00;
}

.forma1 {
  overflow: hidden;
  position: relative;
}

.forma1::before {
  content: '';
  font-family: 'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 131px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0.1 35.28 2.17" preserveAspectRatio="none"><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" fill="%23fea901"/></svg>');
}

@media (min-width: 2100px) {
  .forma1::before {
    background-size: 100% calc(2vw + 131px);
  }
}

.forma2 {
  width: 100%;
  height: 150px;
  background-color: #ffffff00;
}

.forma2 {
  overflow: hidden;
  position: relative;
}

.forma2::before {
  content: '';
  font-family: 'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 131px;
  background-position: 50% 100%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -0.1 35.28 2.17" preserveAspectRatio="none"><path d="M35.28.31c-2.57.84-7.68.3-11.8.43-4.1.12-6.85.61-9.57.28C11.18.69 8.3-.16 5.3.02 2.3.22.57.85 0 .87v1.2h35.28z" fill="%23fea901"/></svg>');
}

@media (min-width: 2100px) {
  .forma2::before {
    background-size: 100% calc(2vw + 131px);
  }
}

.titulo-nossos-servicos {
  padding-bottom: 30px;
  text-align: center;
  color: #3F3D56;
  font-family: "Roboto Slab", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: -60px;
  text-shadow: 2px 2px 4px rgba(63, 61, 86, 0.4);
}

.nossos-servicos {
  padding-bottom: 30px;
  padding-top: 30px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
}

.card-servicos:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
}

.card-servicos:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
}

.card-servicos:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
}

.card-servicos:nth-child(4) {
  grid-column: 4;
  grid-row: 1;
}

.card-servicos {
  position: relative;
  width: 330px;
  height: 330px;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.3s;
}

.card-servicos:hover {
  transform: scale(1.05);
}

.card-servicos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}

.card-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: justify;
  opacity: 0;
  transition: opacity 0.3s;
  padding: 30px;
}

.card-servicos:hover .card-text {
  opacity: 1;
}

.card-servicos:hover img {
  opacity: 0.3;
}

/*-----FIM NOSSOS SERVIÇOS---------------------*/

/*-------CONHEÇA NOSSO BLOG---------------*/

.blog {
  background-color: #fff;
  padding: 20px;
}

.blog h3 {
  font-size: 28px;
  color: #3F3D56;
  margin-bottom: 10px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.blog-title {
  text-shadow: 2px 2px 4px rgba(63, 61, 86, 0.4);
}

/* Blog Section */
.blog-section {
  background-color: #D9D9D9;
  padding: 40px 20px;
  text-align: center;
  border-radius: 10px;
}

.blog-description {
  font-size: 18px;
  color: #555;
  max-width: 800px;
  margin: 0 auto 30px auto;
}

.blog-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.blog-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  padding-bottom: 15px;
}

.blog-image {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ddd;
}

.blog-content {
  padding: 15px;
}

.blog-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
}

.blog-link {
  font-size: 16px;
  color: #ff6600;
  text-decoration: none;
  font-weight: bold;
}

.blog-link:hover {
  text-decoration: underline;
}

/*---------------------FIM DO CONHEÇA NOSSO BLOG---------------*/

/*--Pagina de produtos---------------------------------------------------------------------------------------------------------------*/

.forma-produtos::before {
  content: '';
  font-family: 'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 131px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0.1 35.28 2.17" preserveAspectRatio="none"><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" fill="%23fea901"/></svg>');
}

.forma-produtos {
  width: 100%;
  height: 150px;
  margin-top: -5px;
  background-color: #ffffff00;
  overflow: hidden;
  position: relative;
}

.titulo-produtos {
  padding-top: -110px;
}

.produtos-container h3 {
  text-align: center;
  color: #3f3d56;
  margin-bottom: 20px;
  margin-top: -50px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(63, 61, 86, 0.4);
}

.products-section {
  font-family: "Roboto Slab", sans-serif;
  max-width: 1100px !important;
  margin: 0 auto;
  padding: 10px;
  background-color: #f3f3f3;
  border: #a8a8a8 solid 1px;
  border-radius: 20px;
  perspective: 1000px;
}

#carouselExampleDark{
  width: 30rem;
  height: 20rem;
  flex: 1; 
  max-width: 45%; 
  
}

.carousel-container {
  display: flex;
  justify-content: space-between; 
  gap: 20px; 
  
}
.carousel-produtos{

  border-radius: 20px;

}



/* Estiliza a barra de pesquisa */
.search-bar {
  text-align: center;
  margin: 20px 0;
  padding-top: 5px;
  padding-bottom: 10px;
}

.search-bar input {
  width: 50%;
  padding: 10px 50px 10px 20px;
  border-radius: 25px;
  border: none;
  background-color: #d3d3d3;
  font-size: 16px;
  background: url('img/icons/lupa.png') no-repeat right 15px center, linear-gradient(to right, #d3d3d3 95%, #000 96%);
  background-size: 20px 20px, 1px 80%;
  background-position: right 30px center, right 50px center;
}

.search-bar input::placeholder {
  color: #666;
  font-size: 16px;
}

.products-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-card {
  margin: 10px;
  width: 200px;
  height: 300px;
  text-align: center;
  position: relative;
  border-radius: 35px;
  transform-style: preserve-3d;
  transition: transform 0.6s, box-shadow 0.3s ease;
  cursor: pointer;
}

.product-card:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 35px;
}

.card-front {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.card-back {
  background-color: #9dbba7;
  color: #fff;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}

.flipped .card-inner {
  transform: rotateY(180deg);
}

.product-card img {
  max-width: 100%;
  height: 150px;
  width: auto;
  object-fit: cover;
  border-radius: 15px;
}

.whatsapp-button {
  background-color: #25d366;
  color: #fff;
  text-align: center;
  padding: 10px 15px;
  border-radius: 50px;
  display: inline-block;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.whatsapp-button:hover {
  background-color: #1ebc53;
}

.whatsapp-button img {
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

@media (min-width: 2100px) {
  .forma-produtos::before {
    background-size: 100% calc(2vw + 131px);
  }
}

/*--CONHEÇA A NOSSA VARIEDADE DE PRODUTOS-----------------------------------------------------------------------------------*/

.nossos-produtos {
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1480px;
  height: 1000px;
  background-color: #D9D9D9;
  margin: 0 auto;
  margin-bottom: 40px;
  border-radius: 20px;
}

.nossos-produtos h3 {
  margin-top: 15px;
  color: #3F3D56;
  font-family: "Roboto Slab", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-shadow: 2px 2px 4px rgba(63, 61, 86, 0.4);
}

.produtos-section {
  width: 1300px;
  height: 800px;
  display: flex;
  justify-content: center;
  background-color: #FFF;
  margin-bottom: 50px;
  border-radius: 10px;
}

.container-variedade-produtos {
  display: flex;
  width: 1200px;
  height: 750px;
}

.circulos-produtos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 870px;
  height: 750px;
  gap: 5px;
}

.img-dog {
  width: 260px;
  height: 570px;
  border-radius: 150px;
  background-color: #F5B75A;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-left: 20px;
}

#caozinho {
  width: 400px;
  height: 350px;
}

.circulos {
  display: flex;
  margin: 25px;
  width: 210px;
  height: 210px;
  border-radius: 50%;
  background-color: #fea901;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.circulos:hover {
  transform: scale(1.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

#circulo1,
#circulo4,
#circulo7 {
  background-color: #F5B75A;
}

#circulo2,
#circulo5,
#circulo8 {
  background-color: #E48A98;
}

#circulo3,
#circulo6,
#circulo9 {
  background-color: #B0BEFF;
}

.circulos img {
  justify-content: center;
  width: 150px;
  height: 150px;
}

#circulo2 img {
  width: 150px;
  height: auto;
}

#circulo3 img {
  width: 130px;
  height: auto;
}

#circulo5 img {
  width: 105px;
  margin-top: -30px;
  height: auto;
}

#circulo6 img {
  width: 180px;
  height: auto;
}

#circulo8 img {
  width: 200px;
  height: auto;
}

.circulos p {
  width: 150px;
  height: 30px;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: "Roboto Slab";
  font-size: 22px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

/*--FIM DO "CONHEÇA A NOSSA VARIEDADE DE PRODUTOS"-----------------------------------------------------------------------------*/

/*--AGENDAMENTO---------------------------------------------------------------------------------------------------------------*/

.forma {
  width: 100%;
  height: 150px;
  margin-top: -5px;
  background-color: #ffffff00;
}

.forma {
  overflow: hidden;
  position: relative;
}

.forma::before {
  content: '';
  font-family: 'shape divider from ShapeDividers.com';
  position: absolute;
  z-index: 3;
  pointer-events: none;
  background-repeat: no-repeat;
  bottom: -0.1vw;
  left: -0.1vw;
  right: -0.1vw;
  top: -0.1vw;
  background-size: 100% 131px;
  background-position: 50% 0%;
  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0.1 35.28 2.17" preserveAspectRatio="none"><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" fill="%23fea901"/></svg>');
}

@media (min-width: 2100px) {
  .forma::before {
    background-size: 100% calc(2vw + 131px);
  }
}

main {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f0efef;
}

main h3 {
  text-align: center;
  color: #3f3d56;
  margin-bottom: 20px;
  margin-top: -50px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 35px;
  font-weight: 700;
  text-shadow: 2px 2px 4px rgba(63, 61, 86, 0.4);
}

.capa-agenda {
  border-radius: 25px 25px 0px 0px;
  width: 1200px;
  height: 220px;
  background-color: #ffe6b8;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: #a8a8a8 solid 1px;
}

.texto-agenda {
  border-radius: 0px 0px 25px 25px;
  width: 1200px;
  height: 240px;
  background-color: #ef9f01;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border: #a8a8a8 solid 1px;
  text-shadow: 2px 2px 4px rgba(63, 61, 86, 0.4);
}

.texto-agenda h1 {
  padding: 15px;
  font-size: 32px;
  font-family: "Roboto Flex", sans-serif;
  font-weight: 700;
  color: #FFF;
}

.texto-agenda p {
  font-family: "Roboto Flex", sans-serif;
  font-weight: 700;
  color: #FFF;
  margin: 5px;
}

#capa-agendamento {
  width: 800px;
  height: 210px;
  border-radius: 25px;
  background-color: #ffe6b8;
}

.calendario-agenda {
  border-radius: 20px;
  width: 640px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px 0px 0px;
  background-color: #ffe6b8;
}

.agendamento {
  margin: 25px;
  height: 4200px;
  width: 580px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffe6b8;
  border: none;
  overflow: hidden;
  border-radius: 30px;
  padding: 30px;
}

/*--FINAL DO AGENDAMENTO----------------------------------------------------------------------------------------------------*/

/*--BLOG---------------------------------------------------------------------------------------------------------------*/

.container {
  font-family: "Roboto Slab", sans-serif;
  max-width: 1100px  !important;
  margin: 0 auto;
  padding: 10px;

}

#titulo-blog{
  width: 100%;
  height: 270px;
  text-align: center;
  background-color: #fea901;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 0 2px 4px rgba(0,0,0, 0.2);
  border: #a8a8a8 solid 1px;
  
}

#banner-blog{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.post-1 , .post-2, .post-3 {
  background-color: #D9D9D9;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0 4px 6px rgba(0,0,0, 0.2);
  margin-bottom: 40px;
  overflow: hidden;
  text-align: center;
  border: #a8a8a8 solid 1px;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);/* Linha divisória */ 
}

.post-2, .post-3{
  border-radius: 10px;
}

.post-1 img, .post-2 img, .post-3 img {
  width: 40%;
  height: auto;
  border-radius: 0px;
  opacity: 0.95;
}

.post-1, .post-2, .post-3, .text {
  padding: 20px;
}

.post-1 h2, .post-2 h2, .post-3 h2 {
  margin-top: 15px;
  margin-bottom: 40px;
  font-weight: 700;
}

.post-1 h5, .post-2 h5, .post-3 h5 {
  color: #f09125;
  font-weight: 700;
  margin-top: 20px;
}

.post-1 p, .post-2 p, .post-3 p, .post-3 li {
  margin: 5px 100px 5px 100px;
  text-align: justify;
}

.post-3 h6{
  text-align: start;
  margin-left: 50px;
  font-family: "Roboto Slab", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
  margin-bottom: 10px;
}

.posts{
  background-color: #f3f3f3;
  border: #a8a8a8 solid 1px;
  width: 100%;
  border-radius: 10px;
  
}

/*--FINAL BLOG---------------------------------------------------------------------------------------------------------------*/

/*--RODAPÉ---------------------------------------------------------------------------------------------------------------*/

.rodape {
  width: 100%;
  height: 600px;
  background-color: #968970;
  display: flex;
  flex-wrap: wrap;
}

.informacoes {
  width: 600px;
  height: 560px;
  margin: 0px 0px 0px 90px;
}

.imagens {
  display: flex;
  width: 600px;
  height: 240px;
}

#fig-gato {
  width: 200px;
  padding: 40px 0px 0px 0px;
}

#fig-cachorro {
  width: 340px;
  padding: 70px 0px 0px 0px;
}

.container-informacoes {
  margin: 10px 0px 0px 40px;
  width: 440px;
  height: 70px;
  display: flex;
}

.icons-informacoes {
  margin: 10px;
  width: 40px;
  height: 40px;
}

.texto-informacoes {
  color: #fff;
  font-family: "Roboto Flex";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#texto-telefone,
#texto-instagram {
  margin: 25px 0px 15px 0px;
}

#texto-endereco,
#texto-funcionamento {
  margin: 10px 0px 0px 0px;
}

.maps {
  width: 550px;
  height: 450px;
  margin: 50px 100px 20px 100px;
  background-color: aliceblue;
}

/*--RESPONSIVE---------------------------------------------------------------------------------------------------------------*/

@media (max-width: 1280px) {
  .menu-superior {
    width: 1280px;
  }

  .card-servicos {
    position: relative;
    width: 280px;
    height: 280px;

  }

  .card-text {
    font-size: 13px;
  }

  .nossos-produtos {
    width: 1250px;
  }

  .maps {
    width: 500px;
    height: 400px;
    margin-left: -30px;
    margin-top: 100px;
  }

}

@media (max-width: 1200px) {
  .menu-superior {
    width: 1200px;
  }

  .botoes-nav-menu button {
    font-size: 12px;
  }

  .card-servicos {
    position: relative;
    width: 280px;
    height: 280px;

  }

  .card-text {
    font-size: 13px;
  }

  .nossos-produtos {
    width: 1160px;
  }

  .maps {
    width: 440px;
    height: 400px;
    margin-left: -30px;
    margin-top: 100px;
  }


}

@media (max-width: 992px) {
  .menu-superior {
    width: 992px;
  }

  .botoes-nav-menu button {
    font-size: 8px;
  }

  .card-servicos {
    position: relative;
    width: 200px;
    height: 200px;

  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .card-text {
    font-size: 8px;
  }

  .nossos-produtos {
    width: 950px;
  }
  .container-variedade-produtos {
    display: flex;
  
  }
  .circulos, 
  .circulos img,
  #circulo2 img,
  #circulo3 img,
  #circulo5 img,
  #circulo6 img,
  #circulo8 img {
    max-width: 0 ;
  }

  .rodape {
    width: 992px;
    height: 580px;
  }

  .maps {
    width: 450px;
    height: 350px;
    margin: 120px 0px 0px -20px;
  }

  .container-informacoes {
    margin: 5px 0px 0px -20px;
  }

  .informacoes {
    width: 450px;
    height: 410px;



  }

  .texto-informacoes {
    font-size: 15px;
  }

  #fig-gato {
    width: 150px;

  }

  #fig-cachorro {
    width: 200px;

  }


}

@media (max-width: 768px) {
  .menu-superior {
    width: 768px;
  }

  .botoes-nav-menu button {
    font-size: 5px;
  }

  .card-servicos {
    position: relative;
    width: 150px;
    height: 150px;

  }

  .card-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .card-text {
    font-size: 6px;
  }

  .nossos-produtos {
    width: 730px;
  }
  .container-variedade-produtos {
    display: flex;
  
  }
  .circulos, 
  .circulos img,
  #circulo2 img,
  #circulo3 img,
  #circulo5 img,
  #circulo6 img,
  #circulo8 img {
    max-width: 0 ;
  }

  .rodape {
    width: 992px;
    height: 580px;
  }

  .maps {
    width: 450px;
    height: 350px;
    margin: 120px 0px 0px -20px;


  }

  .container-informacoes {
    margin: 5px 0px 0px -20px;
  }

  .informacoes {
    width: 450px;
    height: 410px;



  }

  .texto-informacoes {
    font-size: 15px;
  }

  #fig-gato {
    width: 150px;

  }

  #fig-cachorro {
    width: 200px;

  }


}



