<!DOCTYPE html>
  {% load static %} 
<html lang="pt-br">

<head>
  <title>CãoTinho Pet Shop</title>
  <meta charset="utf-8" />
  <meta name="author" content="Bruna Sousa, Geovana Perazzo, Lucas Costa" />
  <meta name="keywords"
    content="Pet shop, pet shop luziania, CãoTinho pet shop, pet, banho e tosa, tosa, banho e tosa luziania, banho para pet" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description"
    content="No nosso Pet Shop, dedicamo-nos a proporcionar o melhor cuidado e carinho para o seu pet. 
    Somos apaixonados por animais e acreditamos que eles merecem todo o amor e atenção que puderem receber. 
    Nossa missão é tornar cada visita uma experiência agradável e tranquila, tanto para os pets quanto para seus tutores." />
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
  <link rel="stylesheet" type="text/css"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" />
</head>

<body>
  <div class="nav-menu">
    <!--MENU------------------------------------------------------------------------------------------------------------------------>
    <div class="menu-superior">
      <div class="logo">
        <img src="{% static 'img/logo.png' %}" id="logo-id" />
      </div>


      <div class="botoes-menu" id="botoes-menu-id">
        <nav class="botoes-nav-menu">
          <a href="#"><button type="button" class="btn btn-outline-warning">HOME</button></a>
          <a href="#quemSomos"><button type="button" class="btn btn-outline-warning">QUEM SOMOS</button></a>
          <a href="#servicos"><button type="button" class="btn btn-outline-warning">SERVIÇOS</button></a>
          <a href="{% url 'produtos' %}"><button type="button" class="btn btn-outline-warning">CATÁLOGO DE PRODUTOS</button></a>
          <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-warning">AGENDAR SERVIÇOS</button></a>

        </nav>
      </div>

    </div>
  </div>
  

  <!--Banner----------------------------------------------------------------------------------------------------------------------->
  <div class="carousel-img">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{% static 'img/banner1.png' %}" class="d-block w-100" alt="banner do pet shop" />
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/banner2.png' %}" class="d-block w-100" alt="banner do pet shop" />
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/banner3.png' %}" class="d-block w-100" alt="banner do pet shop" />
        </div>
        <div class="carousel-item">
          <img src="{% static 'img/banner4.png' %}" class="d-block w-100" alt="banner do pet shop" />
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <!--QUEM SOMOS---------------------------------------------------------------------------------------------------------------->
  <div class="quem-somos" id="quemSomos">
    <h3 class="titulo-quemsomos">QUEM SOMOS</h3>
    <div class="row">
      <div class="col-md-6">
        <p>Somos um Pet Shop dedicado ao bem-estar e cuidado dos animais, oferecendo serviços completos de banho, tosa para cães e gatos. 
          Nossa missão é tornar cada visita uma experiência agradável e tranquila, tanto para os pets quanto para seus tutores.
        </p>
        <p>
          Atualmente estamos localizados em Luziânia - GO, mas antigamente, no ano de 2023 atendíamos como sócios no Sudoeste - DF em uma empresa chamada Pet na Moita.
          E agora no ano 2024 abrimos nosso próprio Cãotinho, somos uma empresa pequena e estamos em início e em uma nova fase no nosso novo local, estamos nos dedicando a atrair novos clientes e ficaremos super felizes em atendê - los.
        </p>
        <p>
          Desenvolvemos nossas tarefas com dedicação, responsabilidade e foco total no bem-estar dos pets. 
          Com uma equipe de profissionais qualificados e experientes, oferecemos serviços de banho e tosa personalizados, adaptados às necessidades específicas de cada animal. 
          Priorizamos um ambiente limpo, seguro e confortável, com ferramentas adequadas e práticas que promovem uma experiência tranquila e eficiente dos nossos amiguinhos peludos.
        </p>
        <p>
          Mais do que um simples pet shop, somos uma extensão do amor que você sente pelo seu pet. 
          Valorizamos a confiança que nossos clientes depositam em nós e estamos sempre prontos para atender suas expectativas, garantindo que cada animal saia daqui feliz, limpo e com o visual renovado.
        </p>
      </div>
      <div class="col-md-6">
        <img src="{% static 'img/foto_quemsomos.png' %}" alt="Cachorro feliz" class="img-quemsomos" />
      </div>
    </div>
  </div>

  <!--NOSSOS SERVIÇOS-------------------------------------------------------------------------------------------------------------------------------->
  <div class="nossos-servicos" id="servicos">

    <div class="forma1"></div>

    <h3 class="titulo-nossos-servicos">NOSSOS SERVIÇOS</h3>
    <div class="card-container">
      <div class="card-servicos">
        <img src="{% static 'img/foto_taxidog.png' %}" alt="Táxi Dog">
        <div class="card-text">
          <p>Serviço de transporte similar ao táxi tradicional, mas com foco especial no bem-estar e segurança dos pets.
          </p>
          <p>Ideal para tutores que não possuem tempo ou meios de transporte próprios para levar seus animais ao pet
            shop.</p>
          <p>Cobramos apenas uma taxa fixa e rodamos há um raio de 10km. </p>
        </div>
      </div>
      <div class="card-servicos">
        <img src="{% static 'img/foto_racoesepetiscos.png' %}" alt="Rações e Petiscos">
        <div class="card-text">
          <p>Na Cãotinho você encontra variadas marcas e sabores de rações e petiscos para o seu animalzinho. Garantia
            de uma nutrição equilibrada e saborosa para todas as idades.</p>
          <p>Dê uma olhada em nosso catálogo de produtos, e venha nos visitar. Você também pode consultar a
            disponibilidade entrando em contato através do Whatsapp.</p>
        </div>
      </div>
      <div class="card-servicos">
        <img src="{% static 'img/foto_banhoetosa.png' %}" alt="Banho e Tosa">
        <div class="card-text">
          <p>Oferecemos um serviço de banho e tosa completo e personalizado com profissionais qualificados.</p>
          <p>Aqui possuimos produtos de qualidade, ambiente confortável e uma variedade de serviços de higiene</p>
          <p>Agende agora mesmo o banho e tosa do seu amigo e veja a diferença.</p>
        </div>
      </div>
      <div class="card-servicos">
        <img src="{% static 'img/foto_brinquedoseacessorios.png' %}" alt="Brinquedos e Acessórios">
        <div class="card-text">
          <p>Aqui pet encontra tudo o que precisa para se divertir e se sentir especial.
            Temos uma variedade incrível de brinquedos e acessórios para cães e gatos de todas as idades e portes.</p>
          <p>Temos novidades e acessórios para todas as ocasiões</p>

        </div>
      </div>
    </div>

    <div class="forma2"></div>
  </div>
 
  <!--Conheça a nossa variedade de Produtos-------------------------------------------------------------------------------------------------------------->
  <div class="nossos-produtos" id="produtos">

    <h3>CONHEÇA A NOSSA VARIEDADE DE PRODUTOS</h3>

    <section class="produtos-section">

      <div class="container-variedade-produtos">

        <div class="circulos-produtos">

          <div class="circulos" id="circulo1">
            <img src="{% static 'img/variedade-produtos/racao.png' %}" alt="">
            <p>Rações</p>
          </div>

          <div class="circulos" id="circulo2">
            <img src="{% static 'img/variedade-produtos/comedouro.png' %}" alt="">
            <p>Comedouros e Bebedouros</p>
          </div>

          <div class="circulos" id="circulo3">
            <img src="{% static 'img/variedade-produtos/areia.png' %}" alt="">
            <p>Caixa de Areia</p>
          </div>

          <div class="circulos" id="circulo4">
            <img src="{% static 'img/variedade-produtos/arranhador.png' %}" alt="">
            <p>Arranhador</p>
          </div>

          <div class="circulos" id="circulo5">
            <img src="{% static 'img/variedade-produtos/shampoo.png' %}" alt="">
            <p>Shampoo e Condicionadores</p>
          </div>

          <div class="circulos" id="circulo6">
            <img src="{% static 'img/variedade-produtos/caixa_trasnporte.png' %}" alt="">
            <p>Caixa de Transporte</p>
          </div>

          <div class="circulos" id="circulo7">
            <img src="{% static 'img/variedade-produtos/caminha.png' %}" alt="">
            <p>Caminhas</p>
          </div>

          <div class="circulos" id="circulo8">
            <img src="{% static 'img/variedade-produtos/brinquedos.png' %}" alt="">
            <p>Brinquedos</p>
          </div>

          <div class="circulos" id="circulo9">
            <img src="{% static 'img/variedade-produtos/coleira.png' %}" alt="">
            <p>Coleiras</p>
          </div>
        </div>

        <div class="img-dog">
          <img id="caozinho" src="{% static 'img/variedade-produtos/caocomendo.png' %}" alt="">
        </div>
      </div>

    </section>

  </div>
  <!--RODAPÉ-------------------------------------------------------------------------------------------------------------->

  <div class="rodape" id="contatos">

    <div class="informacoes">
      <div class="imagens">
        <div class="fig-animais">
          <img id="fig-gato" src="{% static 'img/img-rodape/cat 1.png' %}" alt="">
        </div>

        <div class="fig-animais">
          <img id="fig-cachorro" src="{% static 'img/img-rodape/dog 1.png' %}" alt="">
        </div>
      </div>

      <div class="contatos-endereco">
        <div class="container-informacoes">
          <img class="icons-informacoes" src="{% static 'img/icons/telefone.png' %}" alt="">

          <p class="texto-informacoes" id="texto-telefone">
            (61) 98163-9946
          </p>
        </div>

        <div class="container-informacoes">
          <img class="icons-informacoes" src="{% static 'img/icons/instagram.png' %}" alt="">

          <p class="texto-informacoes" id="texto-instagram">
            caotinho_pet_shop
          </p>
        </div>

        <div class="container-informacoes">
          <img class="icons-informacoes" src="{% static 'img/icons/endereco.png' %}" alt="">

          <p class="texto-informacoes" id="texto-endereco">
            Rua xxx xxx xxx, Quadra xx,
            Lote xx, xxx, Luziânia - GO.
          </p>
        </div>

        <div class="container-informacoes">
          <img class="icons-informacoes" src="{% static 'img/icons/horario.png' %}" alt="">

          <p class="texto-informacoes" id="texto-funcionamento">
            Funcionamento:
            Seg — Sáb: 8:00h às 17:30h
          </p>
        </div>
      </div>
    </div>

    <div class="maps">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3830.6229433026865!2d-47.90145112486042!3d-16.239812884464655!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMTbCsDE0JzIzLjMiUyA0N8KwNTMnNTYuMCJX!5e0!3m2!1spt-BR!2sbr!4v1725834471271!5m2!1spt-BR!2sbr"
        width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

  </div>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" crossorigin="anonymous"></script>
</body>

</html>